
<div class="box header-xox-game">
    <form action="" #form="ngForm">
        <div style="text-align: center;">
            <div class="" style="margin-top:25px">
                <h3>XOX'R</h3>
            </div>
            <input class="user" type="text" value="" email [(ngModel)]="user1" name="email1" placeholder="Your Name" #email1 >
            <input class="user" type="text" value="" email [(ngModel)]="user2" name="email2" placeholder="Your Name" #email2 >
            <input class="user" type="password" value="" [(ngModel)]="key" name="key1" placeholder="Secret KEY" #key1 >
            <input class="user" type="password" value="" [(ngModel)]="confirmKey" name="key2" placeholder="Secret KEY" #key2 >
            <!--<button class="play" (click)="check(user)"><span [ngClass]="{'spinner-border':loading}"></span>Play</button>
            <button class="h-t-p-btn" (click)="HTP_B()">{{howToPlay ? 'How to Play ?': 'Back'}} </button>-->
        </div>
    </form>
</div>