
<div class="box header-xox-game" [ngStyle]="{'height':!playGame ? '60%' : '92%'  }">
    
        <div *ngIf="!playGame && howToPlay" style="text-align: center;">
            <div class="" style="margin-top:25px">
                <h3>XOX'R</h3>
            </div>
            <input type="text" value="" placeholder="Your Name" #user class="user">
            <input type="password" value="" placeholder="Secret KEY" #key class="user">
            <button class="play" (click)="play(user, key)"><span [ngClass]="{'spinner-border':loading}"></span>Play</button>
            <button class="h-t-p-btn" (click)="HTP_B()">{{howToPlay ? 'How to Play ?': 'Back'}} </button>
        </div>
        <div *ngIf="!playGame && !howToPlay" style="text-align: center;">
            <div class="" style="margin-top:5px">
                <h4 class=h-t-p-heading> How to Play | XOX'R</h4>
            </div>
            <div class="how-to-play">
                <p>1. The game is played on a grid that's 3 squares by 3 squares.</p>
                
                <p>2. You have 3 X's and your opponent has 3 O's.</p>
                
                <p>3. Players take turns putting their marks in empty squares.</p>
                
                <p>4. The first player to get 3 of her marks in a row (up, down, across, or diagonally) is the winner.</p>
                
                <p>5. When you finish marking all 3 X's, you will be able to move one of the marking(X) to the next cell(top, left, bottom, right).</p>
                
                <p>6. the game continues untill one of them has all thier markings(X/O) in a row (up, down, across, or diagonally).</p>
            </div>
            <button class="h-t-p-btn" (click)="HTP_B()">{{howToPlay ? 'How to Play': 'Back'}} </button>
        </div>
        <div *ngIf="playGame">
            <div class="" style="margin-top:20px">
                <h3>XOX'R</h3>
            </div>
            <h4>{{user.name}} Vs {{user2.name}}</h4>
            <div class="row-adjust " >
                <input type="button" class="button" [ngClass]="{'winner':buttons.zero}" #buttonone id="button-one" value={{eventValues[0]}}
                    (click)="changeEleValuesOld(0)">
        
                <input type="button" class="button" [ngClass]="{'winner':buttons.one}" #buttontwo id="button-two" value={{eventValues[1]}}
                    (click)="changeEleValuesOld(1)">
        
                <input type="button" class="button" [ngClass]="{'winner':buttons.two}" #buttonthree id="button-three" value={{eventValues[2]}}
                    (click)="changeEleValuesOld(2)">
            </div>
        
            <div class="row-adjust ">
                <input type="button" class="button" [ngClass]="{'winner':buttons.three}" #buttonfour id="button-four" value={{eventValues[3]}}
                    (click)="changeEleValuesOld(3)">
        
                <input type="button" class="button" [ngClass]="{'winner':buttons.four}" #buttonfive id="button-five" value={{eventValues[4]}}
                    (click)="changeEleValuesOld(4)">
        
                <input type="button" class="button" [ngClass]="{'winner':buttons.five}" #buttonsix id="button-six" value={{eventValues[5]}}
                    (click)="changeEleValuesOld(5)">
            </div>
            <div class="row-adjust ">
                <input type="button" class="button" [ngClass]="{'winner':buttons.six}" #buttonseven id="button-seven" value={{eventValues[6]}}
                    (click)="changeEleValuesOld(6)">
        
                <input type="button" class="button" [ngClass]="{'winner':buttons.seven}" #buttoneight id="button-eight" value={{eventValues[7]}}
                    (click)="changeEleValuesOld(7)">
        
                <input type="button" class="button" [ngClass]="{'winner':buttons.eight}" #buttonnine id="button-nine" value={{eventValues[8]}}
                    (click)="changeEleValuesOld(8)">
            </div>
            <p>Turn : {{turn}}</p>
           <!-- <div >
                <div *ngIf="isWinner">
                    <span *ngIf="">
                        <input type="text" value="" placeholder="Your Message">
                         <input type="button"  value="send" (click)="changeEleValuesOld(8)"> 
                    </span>
                    <span>Message:</span>
                </div>
                <div>
                    <span>
                        <input type="text" value="" placeholder="Your Message">
                        <input type="button"  value="send" (click)="changeEleValuesOld(8)"> 
                    </span>
                    <span>Message:</span>
                </div>      
            </div>-->
            <span [ngClass]="isWinner?'':'glow'">{{winnerName}}</span> 

            <ul class="message-list list-overflow" id="messageScroll" #messageList>
                <h3 class="no-msgs" *ngIf="messages.length === 0">No Messages</h3>
                <div *ngIf="!(messages.length === 0)">
                    <li class="single-message" *ngFor=" let message of messages" [ngStyle]="{
                    'text-align': message.name === user.name ? 'right' : 'left', 
                    'background':message.name === user.name ? 'linear-gradient(to bottom, #07171d 0%, #130747 100%)' : 'linear-gradient(to bottom, #130747 0%, #07171d 100%)',
                    'border': message.name === user.name ? '0.4px solid #E3BAC6' : '0.4px solid #66CDAA'}">
                        <p class="message-username"  [ngStyle]="{'color':message.name === user.name ? '#66CDAA' : '#E3BAC6'  }" >{{message.time}}</p>
                        <p class="message-wrap"  [ngStyle]="{'color':message.name === user.name ?  '#3F96A0' : '#BC9EC1'  }" >{{message.message}}</p>
                    </li>
                </div>
            </ul>
            <input class="send-message"  type="text" placeholder="Type a Message" #message>
                <button class="send-style"  (click)="send(message, messageList)"><img src="https://img.icons8.com/material-outlined/24/000000/send-comment.png"/></button>


            <!-- <div><button class="btn btn-secondary" style="margin-top: 10px;" (click)="reset()">Reset</button></div> -->
            <p class="h-t-p-btn glow" style="top: 85%;" >{{secertMessage}}</p>
        </div>
    
<div class="dev-name" *ngIf="!playGame"><p>~abhi Meruga</p></div>


